<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   itemsPList.plist
   SmartBag

   Created by Cam on 4/15/16.
   Copyright (c) 2016 Cam. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
